.card1, .card2, .card3, .card4, .card5{
    min-height: 175px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}


.card-footer {
  
    font-family: Georgia, serif, serif;
    font-style: oblique;
    color: floralwhite;
    font-size: larger !important;
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    background-color: rgba(0, 0, 0, 0.3);    
}

.card1 {
    background-image: url("../images/create.jpg");
    background-position: center;
}
.card2 {
    background-image: url("../images/view.jpg");
}

.card3 {
    background-image: url("../images/pending.jpg");
    background-position: center;
}

.card4 {
    background-image: url("../images/approved.jpg");
    background-position: center;
    background-size: cover;
}

.card5 {
    background-image: url("../images/rejected.jpg");
    background-size: cover;
}

