.card1, .card2, .card3, .card4 {
    min-height: 175px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body1, .card-body2, .card-body3, .card-body4 {
    padding-top: 10%;
    font-family: Georgia, serif, serif;
    font-style: oblique;
    color: floralwhite;
    border-radius: 30px;
}

.card1 {
    background-image: url("../images/sebastian-svenson-LpbyDENbQQg-unsplash.jpg");
}

.card2 {
    background-image: url("../images/pawel-czerwinski-7FqOISWr5V0-unsplash.jpg");
}

.card3 {
    background-image: url("../images/guns-YkCG2OrEPEw-unsplash.jpg");
}

.card4 {
    background-image: url("../images/alex-eckermann-W_K6j6OQBDg-unsplash.jpg");
}

.card-body1 {
    background-color: rgba(255, 0, 0, 0.2);
}

.card-body2 {
    background-color: rgba(182, 255, 0, 0.2);
}

.card-body3 {
    background-color: rgba(0, 148, 255, 0.2);
}

.card-body4 {
    background-color: rgba(0, 148, 255, 0.2);
}